<nav id="navbar">
  <div class="logo">👩🏽‍💻 techstore</div>

  <ul class="links">
    <li><a routerLink="/home" routerLinkActive="active">HOME</a></li>
    <li><a routerLink="/monitors" routerLinkActive="active">MONITORS</a></li>
    <li><a routerLink="/keyboards" routerLinkActive="active">KEYBOARDS</a></li>
    <li><a routerLink="/pc" routerLinkActive="active">INTERNALS</a></li>
    <li><a routerLink="/arduino" routerLinkActive="active">ARDUINO</a></li>
    <li><a routerLink="/cart" routerLinkActive="active">CART</a></li>
  </ul>
</nav>