<h2>YOUR CART 🛒</h2>

<div class="cart-container">
  @for (item of service.cart(); track item) {

  <div class="cart-item">
    <img class="order-img" [src]="item.image">

    <p>{{item.name}} | ₱{{item.price}}</p>
    <p>x {{item.qty}}</p>
    <p>₱{{item.price * item.qty}}</p>

    <input 
      type="number" 
      [(ngModel)]="item.qty" 
      min="1"
      (ngModelChange)="updateQty(item)">

    <button class="btn-buy" (click)="buy(item)">BUY</button>
    <button class="btn-remove" (click)="remove(item)">REMOVE</button>
  </div>

  }
</div>

<h3>Total: ₱{{service.total()}}</h3>

<hr>

<h2>YOUR ORDERS 📦</h2>

<div class="orders-container">
  @for (order of orders; track order) {

  <div class="order-card">

    @if (editingId !== order._id) {

      <img class="order-img" [src]="order.image">

      <p>{{order.category}} | {{order.name}}</p>
      <p>{{order.price}} x {{order.quantity}}</p>
      <p>Total: ₱{{order.price * order.quantity}}</p>

      <button class="btn-buy" (click)="startEdit(order)">EDIT</button>
      <button class="btn-remove" (click)="cancelOrder(order._id)">CANCEL ORDER</button>

    }

    @if (editingId === order._id) {

      <input [(ngModel)]="editData.quantity" type="number" min="1">

      <button class="btn-buy" (click)="saveEdit()">Save</button>
      <button class="btn-remove" (click)="cancelEdit()">Cancel</button>

    }
  </div>

  }
</div>