* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rokkitt', serif;
  font-weight: 400;
  background: linear-gradient(135deg, #454545, #16213e, #454545,#16213e, #454545);
  color: #ffffff;
}

router-outlet + * {
  display: block;
  margin-top: 85px;
}