/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: 'Rokkitt', serif;
  font-weight: 400;
  background: linear-gradient(135deg, #454545, #16213e, #454545,#16213e, #454545);
  color: #ffffff;
}

/* Push ALL routed pages below navbar */
router-outlet + * {
  display: block;
  margin-top: 85px; /* adjust depending on navbar height */
}
