<section class="hero">

  <video #bgVideo class="hero-video" muted loop playsinline>
    <source src="assets/videos/hero.mp4" type="video/mp4">
  </video>

  <div class="hero-overlay"></div>

  <div class="hero-content">
    <h1>WELCOME TO TECH STORE 👩🏽‍💻</h1>
    <p>Ang pambansang one-stop shop for Developers and Gamers</p>
    <button routerLink="/monitors">SHOP NOW</button>
  </div>

</section>

<section class="categories">
  <h2>SHOP BY CATEGORY</h2>

  <div class="category-grid">

    <div class="category-card" routerLink="/monitors">
      <h3>MONITORS</h3>

      <video class="category-video" autoplay muted loop playsinline preload="auto">
        <source src="assets/videos/monitor.mp4" type="video/mp4">
      </video>
    </div>

    <div class="category-card" routerLink="/keyboards">
      <h3>KEYBOARDS</h3>

      <video class="category-video" autoplay muted loop playsinline preload="auto">
        <source src="assets/videos/keyboard.mp4" type="video/mp4">
      </video>
    </div>

    <div class="category-card" routerLink="/pc">
      <h3>PC PARTS</h3>

      <video class="category-video" autoplay muted loop playsinline preload="auto">
        <source src="assets/videos/pc.mp4" type="video/mp4">
      </video>
    </div>

    <div class="category-card" routerLink="/arduino">
      <h3>ARDUINO</h3>

      <video class="category-video" autoplay muted loop playsinline preload="auto">
        <source src="assets/videos/arduino.mp4" type="video/mp4">
      </video>
    </div>

  </div>
</section>

<section class="featured">
  <h2>FEATURED PRODUCTS</h2>

  <div class="product-grid">

  @for (item of featuredProducts; track item.name) {

    <div class="product-card">
      <img [src]="item.image" [alt]="item.name">

      <p>{{ item.name }}</p>

      <span>₱{{ item.price }}</span>

      <small>{{ item.category }}</small>
    </div>

  }

</div>
</section>